<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Ssssh det er hemmeligt</title>
       <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-theme.min.css') }}">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Login thingy</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="password">Løsen:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Tophemmeligt">
    </div>
    <button type="submit" class="btn btn-success">Go!</button>
  </form>
 
  <br>

            {% if failed %}
            <div class="alert alert-danger">
                Nope!
                </div>

        {% endif %}
 
</div>
<br>            
</div>
</div>
</body>
</html>
